# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Training outputs
checkpoints/
runs/
outputs/
wandb/

# Data
raw_data/
processed_data/
*.pt
*.pth
*.ckpt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
